import { DataTypes, QueryInterface, Sequelize } from 'sequelize';

const table = '';

export = {
  up: async (queryInterface: QueryInterface, sequelize: Sequelize) => {
    /*
      Add create/alter commands here.
      Return a promise to correctly handle asynchronicity.
    */
    return queryInterface.createTable(table, {
      id: {
        type: DataTypes.BIGINT,
        autoIncrement: true,
        primaryKey: true,
      },

      //ADD MORE COLUMNS....

      created_at: {
        type: DataTypes.DATE,
        defaultValue: sequelize.fn('NOW'),
      },
      updated_at: {
        type: DataTypes.DATE,
        allowNull: true,
      },
    });
  },

  down: async (queryInterface: QueryInterface, sequelize: Sequelize) => {
    /**
     * Add revert commands here.
     * Return a promise to correctly handle asynchronicity.
     */
    return queryInterface.dropTable(table);
  },
};
